// Mixin for setting the basic styles for a heading class
@mixin heading {
    font-family: inherit;
    margin-bottom: 0.35em;
    line-height: 1.2;
    color: inherit;
}

// Mixin for setting the
@mixin heading-1 {
    @include font-size(getSize($tasuketeFonts, heading, heading1, true));
}

@mixin heading-2 {
    @include font-size(getSize($tasuketeFonts, heading, heading2, true));
}

@mixin heading-3 {
    @include font-size(getSize($tasuketeFonts, heading, heading3, true));
}

@mixin heading-4 {
    @include font-size(getSize($tasuketeFonts, heading, heading4, true));
}

@mixin heading-5 {
    @include font-size(getSize($tasuketeFonts, heading, heading5, true));
}

@mixin heading-6 {
    @include font-size(getSize($tasuketeFonts, heading, heading6, true));
}
