$breakpoints: () !default;
@mixin mq($size, $type: max, $orientation: width) {
  @if map_has_key($breakpoints, $size) {
    $size: map_get($breakpoints, $size);
  } @else {
    @error "No key found";
  }
  @if $type == max {
    $size: $size - 1px;
  }
  @if $orientation == width {
    @media only screen and (#{$type}-width: $size) {
      @content;
    }
  }
  @if $orientation == height {
    @media only screen and (#{$type}-height: $size) {
      @content;
    }
  }
}