%absolute-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%absolute-horizontal {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
}

%transition {
    transition: all 2s
        cubic-bezier(
            size(transition, first),
            size(transition, second),
            size(transition, third),
            size(transition, fourth)
        );
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rext(0,0,0,0);
    position: absolute;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}