// grid system - uses 12 columns
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    max-width: 1200px;
    margin-bottom: 1rem;
    padding: 0 15px;
}

@each $width in $numbers {
    .col-#{$width} {
        grid-column: span #{$width};
    }
}

// class for grid item ordering. Add more numbers for more ordering options (i.e. 5, 6, 7, 8 etc.)
@each $number in $numbers {
    .order-#{$number} {
        order: #{$number};
    }
}

// ========= SMALL ==========
@media (max-width: 39.9375em) {
    @each $width in $numbers {
        .col-#{$width}\@s {
            grid-column: span #{$width};
        }
    }

    // class for grid item ordering. Add more number for more ordering options (i.e. 5, 6, 7, 8 etc)
    @each $number in $numbers {
        .order-#{$number}\@s {
            order: #{$number};
        }
    }
}

// ========= MEDIUM ==========
@media (min-width: 40em) {
    @each $width in $numbers {
        .col-#{$width}\@m {
            grid-column: span #{$width};
        }
    }

    @each $number in $numbers {
        .order-#{$number}\@m {
            order: #{$number};
        }
    }
}

// ========= LARGE ==========
@media (min-width: 64em) {
    @each $width in $numbers {
        .col-#{$width}\@l {
            grid-column: span #{$width};
        }
    }

    @each $number in $numbers {
        .order-#{$number}\@l {
            order: #{$number};
        }
    }
}

// ========= XTRA LARGE ==========
@media (min-width: 90em) {
    @each $width in $numbers {
        .col-#{$width}\@xl {
            grid-column: span #{$width};
        }
    }

    @each $number in $numbers {
        .order-#{$number}\@xl {
            order: #{$number};
        }
    }
}
